.container{
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    h1{
        color: var(--white);
    } 
}

.containerHeader{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px;
    gap: 14px;
    button{
        background: transparent;
        border: 0;
    }
}

.listOrder{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.orderItem{
    display: flex;
    background-color: var(--dark-900);
    color: var(--white);
    align-items: center;
    border: 0;
    font-size: 18px;
    border-radius: 8px;
    transition: all 0.8s;
    
    &:hover{
        filter: brightness(1.20);
        color: var(--Lime);
        transform: translate(1.50%);
    }
}

.tag{
    background-color: var(--Lime);
    color: var(--white);
    height: 60px;
    width: 15px;
    border-radius: 6px 0 0 6px;
    margin-right: 16px;
    
}