*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  :root{
    --white: #fff;
    --black: #000;
    --dark-900: #101026;
    --dark-700: #1d1d2e;
    --gray-100: #8a8a8a;
    --green-900: #3fffa3;
    --red-900: #ff3f4b;
    --gold: #ffd700;
    --PowderBlue: #B0E0E6;
    --DarkTurquoise: #00CED1;
    --Red: #FF0000;
    --Aqua-Cyan: #00FFFF;
    --Orange: #FFA500;
    --SpringGreen: #00FF7F;
    --Grey: #BEBEBE;
    --LightGray: #d3d3d3;
  }
  
  button{
    cursor: pointer;
  }
  a{
    color: inherit;
    text-rendering: none;
  }
  
  body{
    background: var(--SpringGreen);
  }
  
  body, input, textarea, select, button{
    font:400, 1rem sans-serif; // 1 rem é igual a 16 pixel
  }
  
  @media (max-width: 720px){
    html{
      font-size:87.5%; // 15px
    }
  
  }
  
  @media (max-width: 1080px){
    html{
      font-size:93.75%; // 15px
    }
  }